{
    "line_color": "#dddddd", 
    "header_align": "left", 
    "line_spacing": "1.0", 
    "header_font_size": "18", 
    "pre_break_lines": true, 
    "blockquote_background_color": "#F1EEEE", 
    "list_tag_color": "#099970", 
    "page_padding_bottom": "0", 
    "paragraph_spacing": "2.2", 
    "list_font_color": "#444444", 
    "header_font_color": "#111111", 
    "text_indent": "0", 
    "header_border_color": "#e84b17", 
    "image_description": true, 
    "blockquote_font_size": "12", 
    "page_padding_right": "10", 
    "page_padding_top": "0", 
    "content_padding": "", 
    "line_height": "2.1", 
    "font_family": " ", 
    "header_paddings": "5 0 5 10", 
    "list_border_color": "#D4A9B4", 
    "blockquote_border_color": "#F1EEEE", 
    "letter_spacing": "1.5px", 
    "blockquote_font_color": "#444444", 
    "blockquote_border_width": "1", 
    "font_color": "#444444", 
    "font_size": "14", 
    "image_content_padding": "", 
    "header_border_style": "left", 
    "strong_font_bold": true, 
    "list_border_type": "all_sides", 
    "header_border_width": "4", 
    "blockquote_border_type": "all_sides", 
    "justify_align": true, 
    "random_button": null, 
    "strong_font_color": "#870e35", 
    "list_tag_style": "disc", 
    "list_border_width": "1", 
    "page_padding_left": "10", 
    "apply_button": null
}